.active-run {
	background-color: red;
	color: white;
}
.inactive-run:hover {

	background-color: red;

}

.inactive-user:hover {
	color: red;
}

.navbar-me {
	background-color: white;
	color: red !important;
	border:1px red solid;
	font-family: 'Exo', sans-serif;
	border-radius:0px;
}

.border-red {
	border: 1px red solid;
}

.brand-red {
	color: red;
}
